$("#category-list").html("#{escape_javascript render 'ranking_levels'}")
$("#flash").html("#{escape_javascript ''}")
$("#errors").html("#{escape_javascript ''}")
$("#rank_form").html("#{escape_javascript render 'rank_form'}")
